/* src/components/styles-pages/Convert.css */
.conversion-container {
    text-align: center;
    margin: 0 auto;
    background-color: var(--darkgrey);
    border-radius: 20px;
    padding: 50px;
    width: 50%;
}

.conversion-container h2,
.conversion-container label,
.conversion-container input,
.conversion-container select,
.conversion-container button {
    font-family: 'Inter', sans-serif;
}

.conversion-container h2 {
    font-size: 2rem;
    color: rgb(255, 255, 255);
}

.conversion-container label {
    color: rgb(255, 255, 255);
    font-size: 1rem;
}

.conversion-container input,
.conversion-container select {
    font-size: 1rem;
    margin: 0.5rem 0;
}

.conversion-container button {
    background-color: var(--blue);
    padding: 0.45rem 1.5rem;
    border-radius: 3rem;
    font-weight: 600;
    font-size: 0.8rem;
    text-transform: capitalize;
    cursor: pointer;
    border: 2px solid var(--blue);
    text-align: center;
    min-width: 80px;
    color: white;
}

.resultado {
    background-color: rgb(28, 28, 28);
    margin: 10px auto;
    padding: 10px;
    border-radius: 5px;
    color: white;
    width: 80%;
}
